<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Era. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Era_Base::base" title="Era" translate="title" sortOrder="40"/>
            </resource>
        </resources>
    </acl>
</config>
